.Rproj.user
.Rhistory
.RData
R/
.Ruserdata
stan/
data/stan_data/
data/clean/
.DS_Store
probabilistic_programming.Rproj
python/pymc_modeling.ipynb
python/pymc3_tutorial.ipynb
docs/*md
docs/latex_files/*
!docs/latex_files/final_report.pdf
result_logs/
saved_models/
.vscode
